/* style.css */
body {
  margin: 0;
  padding: 0;
  background-color: #87ceeb; /* Light sky blue */
  background-image: linear-gradient(to top right, #4287a2, #0a250b); /* Gradient from light sky blue to white */
  color: #f9f9f9;
}    

header {
  background-size: cover;
  background-position: center;
  height: auto; /* Adjust the height to fit the content */
  text-align: center; /* Center the header content horizontally */
  padding-top: 10px; /* Add some top padding to the header */
  /* Add the opacity value to the background image */
  background-color: rgba(0, 0, 0, 0.6); /* The last value (0.6) sets the opacity to 60% */
}

.header-container {
  text-align: center;
}
header h1 {
  font-size: 40px;
  margin-left: 10px;
  color: white; /* Set the text color to white */
}
.profile-image {
  max-width: 100%; /* Add this to limit the image width */
  height: auto; /* Maintain aspect ratio */
}

.navbar {
  background-color: #333; /* Set the background color of the navigation bar */
  overflow: hidden;
  padding-top: 10px; /* Reduce the top padding to decrease space */
}

.navbar li {
  float: none;
  display: inline-block;
}

.navbar li a {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: rgb(246, 239, 239);
  transition: background-color 0.3s ease, color 0.3s ease; /* Add color transition */
}

.navbar li a:hover {
  background-color: #f9f9f9;
  color: black; /* Change text color when hovered */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #281f1f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: red;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-left: 10px;
}

.profile-image {
  width: 250px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  border-radius: 15%; /* To create a circular image */
  margin-left: auto;
  transition: box-shadow 0.3s ease;
}

.profile-image:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Customize the box shadow effect */
}

#typing-text {
  font-size: 24px;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #000; /* Cursor style */
  animation: typing 3s steps(40, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 300px; /* Adjust the width as needed */
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}

/* Content class styles */
.content {
  max-width: 1400px; /* Set a maximum width for the content */
  margin: 30px auto; /* Center the content horizontally and add some space from the header */
  padding: 10px;
}

.content h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.content p {
  font-size: 14px;
  line-height: 1.6;
}

.content ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.content li {
  font-size: 14px;
  line-height: 1.6;
}
pre {
  background-color: #f1f50b52;
  padding: 10px;
  font-size: 14px;
  font-family: 'Courier New', monospace;
  white-space: pre-wrap;
}
.project-list {
  border: 1px solid #d31010;
  background-color: #2c5c135f;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px; /* Set the desired font size here */
}
.project-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.project-list li {
  margin-bottom: 5px;
}
.project-list li a {
  text-decoration: none;
  color: #f9f9f9;
}
.project-list li a:hover {
  color: #0066cc;
}