/* styles.css */
body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url("Website-image/header.jpg");
    background-size: cover;
    background-position: center;
    height: auto; /* Adjust the height to fit the content */
    text-align: center; /* Center the header content horizontally */
    padding-top: 40px; /* Add some top padding to the header */

    /* Add the opacity value to the background image */
    background-color: rgba(0, 0, 0, 0.6); /* The last value (0.6) sets the opacity to 60% */
}

.logo {
    padding: 40px;
}

.logo img {
    height: 80px; /* Increase the logo height */
}

.title {
    font-size: 50px; /* Increase the title font size */
    color: #fff; /* Adjust the title text color */
}

.subtitle {
    font-size: 30px; /* Adjust the subtitle font size */
    color: #c7f511; /* Change the subtitle text color (red in this case) */
    margin-top: 1px; /* Add some space between the title and subtitle */
}

.content {
    max-width: 800px; /* Set a maximum width for the content */
    margin: 20px auto; /* Center the content horizontally and add some space from the header */
    padding: 20px;
}


h2 {
    font-size: 24px; /* Adjust the heading font size */
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    font-size: 18px; /* Adjust the list item font size */
    margin-bottom: 10px;
}
